// 🌟 Primary Palette
$primary-light: #cdf2f0;
$primary: #88e7f2;

// 🌚 Base / Dark Shades
$dark-100: #5c5c5c;
$dark-200: #435151;
$dark-300: #435a65;
$dark-400: #2e3f4c;
$dark-base: #282a2a;

// 🌫 Neutral Grays
$gray-100: #949494;
$gray-200: #687879;
$gray-300: #72919f;
$gray-400: #3d403f;
