<nav
  class="relative py-5 h-[calc(100vh-2rem)] my-4 ml-4 flex rounded-3xl text-white flex-col justify-between bg-[#3d403f] w-16"
>
  <ul class="space-y-6">
    <li *ngFor="let item of navMainItems; trackBy: trackById">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center text-[#949494] hover:text-[#cdf2f0] transition relative group"
      >
        <div
          class="absolute left-0 top-1/2 -translate-y-1/2 w-1 h-6 rounded bg-transparent group-active:bg-[#cdf2f0]"
        ></div>
        <fa-icon [icon]="item.icon"></fa-icon>
      </a>
    </li>
  </ul>
  <ul class="space-y-6 mb-4">
    <li *ngFor="let item of navBottomItems; trackBy: trackById">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center text-[#949494] hover:text-[#cdf2f0] transition relative group"
      >
        <div
          class="absolute left-0 top-1/2 -translate-y-1/2 w-1 h-6 rounded bg-transparent group-active:bg-[#cdf2f0]"
        ></div>
        <fa-icon [icon]="item.icon"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
