.custom-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border: none;
  background-color: #383838;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #6c6c6c;
}

.icon-slot {
  display: flex;
  align-items: center;
}
